<!DOCTYPE html>
<html xmlns="http:www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/login.css">
    <title>Login or Register</title>
</head>

<body>
    <div class="container" id="container" >
        <div class="form-container sign-up-container">
            <form action="/security/register" method="post">
                <h1>Register</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input type="text" placeholder="Name" name="username" required="required"/>
                <input type="text" placeholder="Fullname" name="fullname" required="required"/>
                <input type="email" placeholder="Email" name="email" required="required"/>
                <input type="password" placeholder="Password" name="password" required="required"/>
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/security/login" method="post" >
                <h1>Sign in</h1>
                <div class="social-container">
                    <a href="/oauth2/authorization/facebook" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="/oauth2/authorization/google" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your account</span>
                <input type="text" placeholder="Username" name="username" required="required"/>
                <!-- <i th:errors="*{username}"></i><br> -->
                
                <input type="password" placeholder="Password" required="required" name="password" />
               <!--  <i th:errors="*{password}"></i><br> -->
                
                <i class="pull-left text-danger" th:text="${message}"></i>
                <a href="#">Forgot your password?</a>
                <button>Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/login.js"></script>
</body>

</html>