<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index::dynamic(~{::main})}">

<body>
	<main class="main">
	<div class="page-header text-center"
		style="background-image: url('/assets/images/page-header-bg.jpg')">
		<div class="container">
			<h1 class="page-title">
				My Account<span>Shop</span>
			</h1>
		</div>
		<!-- End .container -->
	</div>
	<!-- End .page-header -->
	<nav aria-label="breadcrumb" class="breadcrumb-nav"
		style="background: white;">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Shop</a></li>
				<li class="breadcrumb-item active" aria-current="page">My
					Account</li>
			</ol>
		</div>
		<!-- End .container -->
	</nav>
	<!-- End .breadcrumb-nav -->

	<div class="page-content" style="background: white;">
		<div class="dashboard">
			<div class="container">
				<div class="row">
					<aside class="col-md-4 col-lg-3">
						<ul class="nav nav-dashboard flex-column mb-3 mb-md-0"
							role="tablist">

							<li class="nav-item"><a class="nav-link active"
								id="tab-orders-link" data-toggle="tab" href="#tab-orders"
								role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
							</li>
							<li class="nav-item"><a class="nav-link"
								id="tab-account-link" data-toggle="tab" href="#tab-account"
								role="tab" aria-controls="tab-account" aria-selected="false">Account
									Details</a></li>
							<li class="nav-item"><a  class="nav-link" th:href="@{/security/logoff}">Sign
									Out</a></li>
						</ul>
					</aside>
					<!-- End .col-lg-3 -->

					<div class="col-md-8 col-lg-9">
						<div class="tab-content">

							<!-- .End .tab-pane -->

							<div class="tab-pane fade show active" id="tab-orders"
								role="tabpanel" aria-labelledby="tab-orders-link">
								<div class="panel-heading">YOUR ORDERS PURCHASED</div>
								<table class="table">
									<thead class="thead-dark">
										<tr>
											<th scope="col">NO</th>
											<th scope="col">Order No</th>
											<th scope="col">Order Date</th>
											<th scope="col">Shiping Address</th>
											<th scope="col">Status</th>
											<th scope="col">Active</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="order,sate:${orders}" >
											<td>[[${sate.index}]]</td>
											<td>[[${order.id}]]</td>
											<td>[[${order.createDate}]]</td>
											<td>[[${order.address}]]</td>
											<td>[[${order.status?'Đã giao':'Đang giao'}]]</td>
											<td style="position: relative;">
											<form th:action="@{'/order/detail/'+${order.id}}">
											<button class=" btn-warning">
											<i class="fas fa-search"></i> 
											</button>
											</form>
											
											<form th:action="@{'/order/delete/'+${order.id}}">
												<div th:if="${order.status}" style="position: absolute;top: 30px; right: 15px;">
												 <button disabled="disabled"><i class="fas fa-window-close"></i> </button>
												</div>
												<div th:unless="${order.status}" style="position: absolute;top: 30px; right: 15px;">
													<button type="submit" class=" btn-primary"><i class="fas fa-window-close"></i></button>
												</div>
											</form>
											
											</td>
										</tr>

									</tbody>
								</table>

							</div>
							<div class="tab-pane fade" id="tab-account" role="tabpanel"
								aria-labelledby="tab-account-link" th:object="${account}">
								<form action="/order/change" method="post">
									<label>Display Name *</label> 
									<input type="text" class="form-control"  name="username" required th:field="*{username}"/>
									
									<label>Full Name *</label> 
									<input type="text" class="form-control" name="fullname" required th:field="*{fullname}">
									
									<label>Email address *</label> 
									<input type="email" class="form-control" name="email" required th:field="*{email}"> 
									
									<label>Current password (leave blank to leave unchanged)</label> 
									<input type="password" class="form-control" name="oldPass"> 
									<i th:errors="*{password}"></i><br>
									<label>New password (leave blank to leave unchanged)</label> 
									<input type="password" class="form-control" name="newPass"> 
									<i th:errors="*{password}"></i><br>
									<label>Confirm new password</label> 
									<input type="password" class="form-control mb-2" name="confirmPass">
									<i th:errors="*{password}"></i><br>
										<i class="pull-left text-danger" th:text="${message}"></i>
										
									<button type="submit" class="btn btn-outline-primary-2" onclick="save()">
										<span>SAVE CHANGES</span> <i class="icon-long-arrow-right"></i>
									</button>
								</form>
							</div>
							<!-- .End .tab-pane -->
						</div>
					</div>
					<!-- End .col-lg-9 -->
				</div>
				<!-- End .row -->
			</div>
			<!-- End .container -->
		</div>
		<!-- End .dashboard -->
	</div>
	<!-- End .page-content --> </main>
	<!-- End .main -->


	</div>
	<!-- End .page-wrapper -->
	<button id="scroll-top" title="Back to Top">
		<i class="icon-arrow-up"></i>
	</button>

	<!-- Mobile Menu -->
	<div class="mobile-menu-overlay"></div>
	<!-- End .mobil-menu-overlay -->

	<div class="mobile-menu-container">
		<div class="mobile-menu-wrapper">
			<span class="mobile-menu-close"><i class="icon-close"></i></span>

			<form action="#" method="get" class="mobile-search">
				<label for="mobile-search" class="sr-only">Search</label> <input
					type="search" class="form-control" name="mobile-search"
					id="mobile-search" placeholder="Search in..." required>
				<button class="btn btn-primary" type="submit">
					<i class="icon-search"></i>
				</button>
			</form>

			<nav class="mobile-nav">
				<ul class="mobile-menu">
					<li class="active"><a href="index.html">Home</a></li>

					<li><a href="product.html" class="sf-with-ul">Product</a></li>
					<li><a href="#">Pages</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="elements-list.html">Elements</a></li>
				</ul>
			</nav>
			<!-- End .mobile-nav -->

			<div class="social-icons">
				<a href="#" class="social-icon" target="_blank" title="Facebook"><i
					class="icon-facebook-f"></i></a> <a href="#" class="social-icon"
					target="_blank" title="Twitter"><i class="icon-twitter"></i></a> <a
					href="#" class="social-icon" target="_blank" title="Instagram"><i
					class="icon-instagram"></i></a> <a href="#" class="social-icon"
					target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
			</div>
			<!-- End .social-icons -->
		</div>
		<!-- End .mobile-menu-wrapper -->
	</div>
	<!-- End .mobile-menu-container -->




</body>


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->

</html>