<div xmlns:th="http://www.thymeleaf.org">
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-left">

                    <div class="header-dropdown">
                        <a href="#">Language</a>
                        <div class="header-menu">
                            <ul>
                                <li><a href="#">English</a></li>
                                <li><a href="#">Tieng Viet</a></li>

                            </ul>
                        </div>
                        <!-- End .header-menu -->
                    </div>
                    <!-- End .header-dropdown -->
                </div>
                <!-- End .header-left -->

                <div class="header-right">
                    <ul class="top-menu">
                        <li>
                            <a href="#">Links</a>
                            <ul>
                                <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                                <li><a th:href="@{/favorites}"><i class="icon-heart-o"></i>Wishlist <span>({{favorite.count}})</span></a></li>
                                <li><a href="about.html">About Us</a></li>
                                <th:block th:unless="${#request.remoteUser}">
                                <li><a th:href="@{/security/login/form}">Login</a></li>
                                </th:block>
                                <th:block th:if="${#request.remoteUser}">
                                <li> 
                                	<a th:href="@{/order/list}" ><b class="mr-1">Welcome: </b>  <p id="username">[[ ${#request.remoteUser}]]</p></a>
                                </li>
                                </th:block>
                            </ul>
                        </li>
                    </ul>
                    <!-- End .top-menu -->
                </div>
                <!-- End .header-right -->
            </div>
            <!-- End .container -->
        </div>
        <!-- End .header-top -->

        <div class="header-middle sticky-header">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>

                    <a th:href="@{/}" class="logo">
                        <img src="/assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                    </a>

                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container active">
                                <a th:href="@{/}" class="sf-with-ul">Home</a>


                            </li>

                            <li>
                                <a href="product.html" class="sf-with-ul">Product</a>


                            </li>
                            <li>
                                <a href="#" class="sf-with-ul">Pages</a>


                            </li>
                            <li>
                                <a href="blog.html" class="sf-with-ul">Blog</a>


                            </li>
                            <li>
                                <a href="elements-list.html" class="sf-with-ul">Elements</a>


                            </li>
                        </ul>
                        <!-- End .menu -->
                    </nav>
                    <!-- End .main-nav -->
                </div>
                <!-- End .header-left -->

                <div class="header-right">
                    <div class="header-search">
                        <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                        <form action="#" method="get">
                            <div class="header-search-wrapper">
                                <label for="q" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                            </div>
                            <!-- End .header-search-wrapper -->
                        </form>
                    </div>
                    <!-- End .header-search -->


                    <div class="dropdown cart-dropdown">
                        <a th:href="@{/cart/view}" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-display="static">
                            <i class="icon-shopping-cart"></i>
                            <span class="cart-count">{{cart.count}}</span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-cart-products">
                                <div class="product" ng-repeat = "item in cart.items">
                                    <div class="product-cart-details">
                                        <h4 class="product-title">
                                            <a href="product.html">{{item.name}}</a>
                                        </h4>

                                        <span class="cart-product-info">
                                            <span class="cart-product-qty">{{item.qty}}</span> x ${{item.price * item.qty| number:2}}
                                        </span>
                                    </div>
                                    <!-- End .product-cart-details -->

                                    <figure class="product-image-container">
                                        <a href="product.html" class="product-image">
                                            <img src="/images/{{item.image}}" alt="product">
                                        </a>
                                    </figure>
                                    <button ng-click="cart.remove(item.id)" class="btn-remove" title="Remove Product"><i class="icon-close"></i></button>
                                </div>
                                <!-- End .product -->
                            </div>
                            <!-- End .cart-product -->

                            <div class="dropdown-cart-total">
                                <span>Total</span>

                                <span class="cart-total-price">${{cart.amount}}</span>
                            </div>
                            <!-- End .dropdown-cart-total -->

                            <div class="dropdown-cart-action">
                                <a th:href="@{/cart/view}" class="btn btn-primary">View Cart</a>
                                <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                            </div>
                            <!-- End .dropdown-cart-total -->
                        </div>
                        <!-- End .dropdown-menu -->
                    </div>
                    <!-- End .cart-dropdown -->
                </div>
                <!-- End .header-right -->
            </div>
            <!-- End .container -->
        </div>
        <!-- End .header-middle -->
    </header>
    <!-- End .header -->
</div>