<table class="table table-condensed">
	<thead class="bg-success" style="font-variant: small-caps;">
		<tr>
			<th>Username</th>
			<th>Password</th>
			<th>Fullname</th>
			<th>Email</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in users">
			<td>{{item.username}}</td>
			<th class="hidetext" style="-webkit-text-security: disc;">{{item.password}}</th>
			<td>{{item.fullname}}</td>
			<td>{{item.email}}</td>
			<td>
				<div class="btn-group btn-group-xs">
					<button ng-click="edit(item)"
						class="btn btn-warning"><i class="fas fa-edit"></i></button>
					<button ng-click="delete(item)"
						class="btn btn-danger"><i class="fas fa-window-close"></i></button>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<!-- <div class="panel-footer text-center">
        <button ng-click="pager.first()" class="btn btn-danger">
            <b class="glyphicon glyphicon-hand-up"></b>
        </button>
        <button ng-click="pager.prev()" class="btn btn-primary">
            <b class="glyphicon glyphicon-hand-left"></b>
        </button>
        <button class="btn btn-succes">{{pager.page + 1}} of {{pager.count}}</button>
        <button ng-click="pager.next()" class="btn btn-primary">
            <b class="glyphicon glyphicon-hand-right"></b>
        </button>
        <button ng-click="pager.last()" class="btn btn-danger">
            <b class="glyphicon glyphicon-hand-down"></b>
        </button>

    </div> -->
</div>